*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* side-bar menu */
.side-nav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0; 
    background-color: #320B4C;
    overflow-x: hidden;
    padding-top: 60px;
    display: block;
    text-align: center;

}
/* the nav links */
.side-nav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: gray ;
    display: block;
    justify-content: space-between;
}

.portrait{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px solid white;
    margin-bottom: 20px;
    margin-top: 20px;   
}

.side-nav a:hover{
    color: aliceblue;
}

.main {
    margin-left: 160px;
    padding: 130px 220px;
}

h1{
    line-height: 0px;
}

p{
    margin-top: 60px;
}

.span{
    color: #7615b6;
    
}


.fa{
    padding: 20px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    margin: 50px 10px;  
}

.fa:hover{
    opacity: 0.7;
}

.fa-linkedin, .fa-github, .fa-twitter, .fa-facebook {
    background-color: #320B4C;
    color: white;
    border-radius: 50%;
    
}

/* on a small screen where height is less than 450px */
@media screen and (max-height:450px){
    .side-nav{padding-top: 15px; width:100px}
    .side-nav a{font-size: 8px;}
}

@media screen and (max-width:600px){
    .main{margin-left: 10px; padding: 30px 90px; font-size: small; text-align: center; line-height: 0px;}
    .side-nav{padding-top: 15px; width:120px}
}

    